.footer {
    @include for-mobile-layout {
        min-height: 432px;
        justify-content: unset;

    }

    min-height: 200px;
    background-color: $clr6;
    background-clip: content-box;
    box-shadow: 0 125px 0 125px $clr6;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

    section {
        @include for-mobile-layout {
            margin-top: 65px;
            flex-direction: column;
            align-items: center;
        }

        justify-content: space-between;

        div:nth-child(1) {
            @include for-mobile-layout {
                align-items: center;
                margin-bottom: 35px;
                flex-direction: column;
            }

            .logo {
                @include for-mobile-layout {
                    width: 96px;
                    height: 24px;
                }
            }

            a {
                color: white;
            }
        }

        p {
            @include for-mobile-layout {
                text-align: center;
                align-items: center;
                margin: 0px;
            }
        }

        div:nth-of-type(2) {


            display: flex;
            flex-direction: column;
            justify-content: space-between;

            div:nth-of-type(1) {
                @include for-mobile-layout {
                    display: flex;
                    flex-direction: row;
                    margin-left: unset;
                    margin-bottom: 10px;
                    justify-content: center;
                }

                margin-left: auto;
                gap: 15px;
            }

        }
    }
}