// COLOR PALETTE
$clr1: #2c6269;
$clr2: #f67e7e;
$clr3: #012f34;
$clr4: #79c8c7;
$clr5: #014e56;
$clr6:#002529;


// LAYOUT BREAKPOINTS
$break-phone: 450px;
$break-narrow: 1100px;
$first-break: 1000px;
$break-wide: 800px;